# ========================
# IDEA / IntelliJ
# ========================
.idea/
*.iml
out/

# ========================
# Maven / Java
# ========================
target/
*.class
*.log

# ========================
# OS / Temp
# ========================
.DS_Store
Thumbs.db

# ========================
# Настройки среды и прочее
# ========================
*.swp
*.swo

# ========================
# Разрешить только проектные файлы
# ========================
!pom.xml
!src/
!README.md
